# JEI 4.16.5.1029 access transformer entries mapped to stable_39 MCP names.
public net.minecraft.client.renderer.RenderItem renderModel(Lnet/minecraft/client/renderer/block/model/IBakedModel;I)V
public net.minecraft.client.renderer.RenderItem renderModel(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V
protected net.minecraft.client.renderer.texture.TextureMap mapUploadedSprites
protected net.minecraft.client.renderer.texture.TextureMap listAnimatedSprites
protected net.minecraft.client.renderer.texture.TextureMap missingImage
protected net.minecraft.client.renderer.texture.TextureMap basePath
protected net.minecraft.client.renderer.texture.TextureMap mapRegisteredSprites
public net.minecraft.client.renderer.texture.TextureMap initMissingImage()V
public net.minecraft.client.gui.recipebook.GuiRecipeBook width
public net.minecraft.client.gui.recipebook.GuiRecipeBook height
public net.minecraft.client.gui.recipebook.GuiRecipeBook xOffset
public net.minecraft.client.gui.recipebook.GuiRecipeBook recipeTabs
public net.minecraft.item.crafting.Ingredient matchingStacks
# AE2 Fluid Crafting 1.0.11 directly reads this field from its CoreMod hook.
public net.minecraft.inventory.InventoryCrafting eventHandler
